@media only screen and (min-width: 1920px){
    // Desktop
    .container {
        max-width: 1920px;
        width: 1597px;
    }

    .header{
        p{
            font-size: 18px;
        }
        .header_top__banner{
            padding: 14px 0;
            max-width: 1860px;
            border-radius: 8px;
            .header_top__text{
                font-size: 18px;
            }
            .header_top__image{
                width: 24px;
                height: 24px;
            }
        }
    
        .header_navbar{
            margin-top: 20px;
            margin-bottom: 24px;
            .header_navbar__content{
                .header_navbar__left{
                    .header_navbar__logo{
                        padding: 7px;
                        width: 55px;
                        height: 55px;
                    }
                    .header_navbar__list{
                        .header_navbar__link{
                            font-size: 18px;
                            padding: 14px 24px;
                            border-radius: 8px;
                        }
                        
                    }
                }
                .header_navbar__right{
                    .header_navbar__click{
                        font-size: 18px;
                    }
                    .header_navbar__btn{
                        padding: 13px 33px;
                        border-radius: 8px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .main{
        .main_content{
            .hero{
                padding-top: 100px;
                &__title{
                    max-width: 857px;
                    border-radius: 11px;
                    font-size: 48px;
                    padding: 14px 30px 14px 20px;
                    margin: 0 0 20px 0;
                    &--img{
                        padding: 14px;
                        width: 62px;
                        height: 62px;
                    }
                }
                .hero__title--element{
                    position: absolute;
                    top: 70px;
                    left: 340px;
                    width: 39px;
                    height: 43px;
                }
                &__subtitle{
                    font-size: 38px;
                    margin-bottom: 10px;
                }
                &__text{
                    font-size: 18px;
                    margin-bottom: 60px;
                }
                &__btn_group{
                    .hero__btn_1{
                        font-size: 18px;
                        padding: 18px 24px;
                        border-radius: 8px;
                    }
                    .hero__btn_2{
                        font-size: 18px;
                        padding: 18px 24px;
                        border-radius: 10px;
                    }
                }
    
    
            }
            .companies{
                padding: 30px;
                border-radius: 12px;
                max-width: 1596px;
                margin-bottom: 100px;
                .companies__logo{
                    padding: 30px 40px;
                    min-width: 220px;
                    height: 92px;
                }
            }
            .video{
                .video__group{
                    border-radius: 12px;
                    .video__image{
                        border-radius: 12px;
                        width: 1596px;
                        height: 790px;
                        &--element{
                            top: 373px;
                            left: 761px;
                            width: 72px;
                            height: 72px;
                            padding: 14px;
                            border: 6px solid rgba(255, 255, 255, 0.30);
                        }
                    }
                }
            }
            .benefits{
                &__top{
                    margin-bottom: 80px;
                    .benefits__text{
                        .benefits__title{
                            font-size: 48px;
                            margin-bottom: 4px;
                        }
                        .benefits__subtitle{
                            width: 1177px;
                            font-size: 18px;
                        }
                    }
                    .benefits__btn{
                        font-size: 18px;
                        padding: 18px 24px;
                        border-radius: 8px;
                    }
    
                }
                &_card__container{
                    flex-wrap: wrap;
                    .benefits_card{
                        padding: 60px;
                        max-width: 519px;
                        min-height: 437px;
                        max-height: 438px;
                        border-radius: 12px;
                        &__title{
                            font-size: 80px;
                            height: 80px;
                        }
                        &__subtitle{
                            font-size: 24px;
                            width: 419px;
                            margin-bottom: 14px;
                        }
                        &__text{
                            font-size: 18px;
                            width: 419px;
                        }
                        .benefits_card__btn{
                            padding: 20px;
                            border-radius: 8px;
                            width: 74px;
                            height: 74px;
                        }
                    }
                }
            }
        }
    }
    .footer{
        background-color: #FFF;
        padding-top: 100px;
        padding-bottom: 30px;
        .footer_container{
            .footer_content{
                .footer_left{
                    .footer_left__logo{
                        padding: 7px;
                        border-radius: 8px;
                        width: 55px;
                        height: 55px;
                        margin-bottom: 40px;
                    }
                    .footer_left__group{
                        gap: 20px;
                        .footer_left_link{
                            gap: 6px;
                            font-size: 18px;
                            .footer_left__icon{
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
                .footer_right{
                    gap: 30px;
                    .footer_right__home{
                        padding-right: 103px;   
                    }
                    .footer_right__about{
                        padding-right: 126px;   
                    }
                    .footer_right__title {
                        font-size: 20px;
                        margin-bottom: 14px;
                    }
                    .footer_right__list{
                        .footer_right__link{
                            font-size: 18px;
                        }
                    }
                    .footer_right__media{
                        padding-right: 64px;
                        .footer_right__group{
                            .footer_right__social{
                                border-radius: 8px;
                                padding: 14px;
                                width: 52px;
                                height: 52px;
                            }
                        }
                    }
                }
            }
            .footer_line{
                margin: 50px 0;
            }
            .footer_copy{
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    // Mobile
    .container {
        max-width: 390px;
        width: 358px;
    }

    .header{
        margin-top: 40px;
        .header_top__banner{
            @include dFlex( space-between, center);
            padding: 10px 16px;
            gap: 0;
            max-width: 358px;
        }
        .header_navbar{
            margin-top: 14px;
            margin-bottom: 14px;
            .header_navbar__content{
                .header_navbar__left{
                    .header_navbar__logo{
                        border-radius: 6px;
                        padding: 5.19px;
                        width: 40px;
                        height: 40px;
                    }
                    .header_navbar__list{
                        display: none;
                    }
                }
                .header_navbar__right{
                    gap: 20px;
                    .header_navbar__click{
                        margin-right: 0;
                    }
                    .header_navbar__btn{
                        padding: 11px 19px;
                    }
                    .header_navbar__menu{
                        display: block;
                    }
                }
            }
        }
    }
    // style.css sho'tta
.main{
    .main_content{
        .hero{
            padding-top: 50px;
            padding-bottom: 50px;
            &__title{
                max-width: 358px;
                font-size: 16px;
                padding: 14px 14px 14px 14px;
                margin: 0 0 16px 0;
            }
            .hero__title--element{
                position: absolute;
                top: 30px;
                left: 7px;
                width: 39px;
                height: 43px;
            }
            &__subtitle{
                font-size: 24px;
            }
            &__text{
                font-size: 14px;
                width: 297px;
            }
        }
        .companies{
            padding: 10px;
            max-width: 358px;
            margin-bottom: 30px;
            .companies__logo{
                min-width: 112px;
                height: 64px;
                &--none{
                    display: none;
                }
                &--borde{
                    border: none;
                }
            }
        }
        .video{
            margin-bottom: 50px;
            .video__group{
                border: none;
                .video__image{
                    border-radius: 10px;
                    width: 358px;
                    height: 247px;
                    &--element{
                        top: 96px;
                        left: 151px;
                        right: 0;
                    }
                }
            }
        }
        .benefits{
            margin-bottom: 50px;
            &__top{
                margin-bottom: 40px;
                flex-direction: column;
                gap: 20px;
                .benefits__text{
                    .benefits__title{
                        font-size: 28px;
                    }
                    .benefits__subtitle{
                        width: 358px;
                        font-size: 14x;
                    }
                }
                .benefits__btn{
                    font-size: 14px;
                }

            }
            &_card__container{
                gap: 20px;
                flex-wrap: wrap;
                .benefits_card{
                    padding: 30px;
                    max-width: 358px;
                    min-height: 293px;
                    max-height: 294px;
                    &--none{
                        display: none;
                    }
                    &__title{
                        font-size: 50px;
                        height: 50px;
                    }
                    &__subtitle{
                        font-size: 20px;
                        width: 298px;
                        margin-bottom: 10px;
                    }
                    &__text{
                        font-size: 14px;
                        width: 298px;
                    }
                }
            }
        }
        
    }
}
    .footer{
        background-color: #FFF;
        padding-top: 50px;
        padding-bottom: 24px;
        .footer_container{
            .footer_content{
                @include dFlex( center, start);
                flex-direction: column;
                gap: 24px;
                .footer_left{
                    .footer_left__group{
                        gap: 12px;
                        .footer_left_link{
                            @include dFlex;
                            gap: 6px;
                            font-size: 15px;
                            .footer_left__icon{
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
                .footer_right{
                    @include dFlex( center, start);
                    flex-direction: column;
                    gap: 24px;
                    .footer_right__home{
                        padding-right: 43px;   
                    }
                    .footer_right__about{
                        padding-right: 109px;   
                    }
                    .footer_right__list{
                        gap: 4px;
                        .footer_right__link{
                            font-size: 14px;
                        }
                    }
                    .footer_right__media{
                        padding-right: 0;
                        .footer_right__group{
                            margin-top: 0px;
                        }
                    }
                }
            }
            .footer_line{
                margin: 20px 0;
            }
        }
    }
}