@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    src:  local('Be Vietnam Pro Regular'),
    url('/assets/font/Be Vietnam Pro/BeVietnamPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    src:  local('Be Vietnam Pro Medium'),
    url('/assets/font/Be Vietnam Pro/BeVietnamPro-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    src:  local('Be Vietnam Pro SemiBold'),
    url('/assets/font/Be Vietnam Pro/BeVietnamPro-SemiBold.ttf') format('truetype');
}

@font-face{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    src:  local('Be Vietnam Pro Bold'),
    url('/assets/font/Be Vietnam Pro/BeVietnamPro-Bold.ttf') format('truetype');
}