* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-style: normal;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #333;
}

.container {
  max-width: 1440px;
  width: 1280px;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 0;
}

a {
  margin: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  margin: 0;
  font-weight: bold;
}

ul {
  list-style: none;
}

img {
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

body {
  font-family: "Roboto";
  background-color: #F7F7F8;
  line-height: 1.5;
  overflow-x: hidden;
}

button {
  color: #FFF;
  background-color: #F7F7F8;
}

@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Be Vietnam Pro Regular"), url("/assets/font/Be Vietnam Pro/BeVietnamPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  src: local("Be Vietnam Pro Medium"), url("/assets/font/Be Vietnam Pro/BeVietnamPro-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Be Vietnam Pro SemiBold"), url("/assets/font/Be Vietnam Pro/BeVietnamPro-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Be Vietnam Pro Bold"), url("/assets/font/Be Vietnam Pro/BeVietnamPro-Bold.ttf") format("truetype");
}
.header {
  margin-top: 20px;
}
.header .header_top__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 23px;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  background-color: #FF9500;
  border-radius: 6px;
}
.header .header_top__banner .header_top__text {
  color: var(--absolute-white, #FFF);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.header .header_top__banner .header_top__image {
  width: 20px;
  height: 20px;
}
.header .header_navbar {
  margin-top: 16px;
  margin-bottom: 20px;
}
.header .header_navbar .header_navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_navbar .header_navbar__content .header_navbar__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header .header_navbar .header_navbar__content .header_navbar__left .header_navbar__logo {
  border-radius: 8px;
  padding: 5.7px;
  background: var(--orange-50, #FF9500);
  width: 45px;
  height: 45px;
  vertical-align: middle;
}
.header .header_navbar .header_navbar__content .header_navbar__left .header_navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_navbar .header_navbar__content .header_navbar__left .header_navbar__list .header_navbar__link {
  font-size: 14px;
  color: #262626;
  font-weight: 400;
  line-height: 150%;
  padding: 12px 20px;
  border-radius: 6px;
}
.header .header_navbar .header_navbar__content .header_navbar__left .header_navbar__list .header_navbar__link--check {
  background: var(--white-95, #F1F1F3);
}
.header .header_navbar .header_navbar__content .header_navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header .header_navbar .header_navbar__content .header_navbar__right .header_navbar__click {
  color: var(--grey-15, #262626);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.header .header_navbar .header_navbar__content .header_navbar__right .header_navbar__btn {
  padding: 11px 23px;
  border-radius: 6px;
  border: 1px solid #FF9500;
  background: var(--orange-50, #FF9500);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  transition: all 0.5s ease;
}
.header .header_navbar .header_navbar__content .header_navbar__right .header_navbar__btn:hover {
  background-color: #F7F7F8;
  color: #FF9500;
}
.header .header_navbar .header_navbar__content .header_navbar__right .header_navbar__menu {
  display: none;
  cursor: pointer;
  width: 34px;
  height: 34px;
}

.footer {
  background-color: #FFF;
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer .footer_container .footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer_container .footer_content .footer_left .footer_left__logo {
  padding: 5.7px;
  border-radius: 6px;
  background-color: #FF9500;
  width: 45px;
  height: 45px;
  margin-bottom: 30px;
}
.footer .footer_container .footer_content .footer_left .footer_left__group {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 14px;
}
.footer .footer_container .footer_content .footer_left .footer_left__group .footer_left_link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--grey-15, #262626);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer_container .footer_content .footer_left .footer_left__group .footer_left_link .footer_left__icon {
  width: 20px;
  height: 20px;
}
.footer .footer_container .footer_content .footer_right {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 24px;
}
.footer .footer_container .footer_content .footer_right .footer_right__mid {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 24px;
}
.footer .footer_container .footer_content .footer_right .footer_right__home {
  padding-right: 100px;
}
.footer .footer_container .footer_content .footer_right .footer_right__about {
  padding-right: 120px;
}
.footer .footer_container .footer_content .footer_right .footer_right__title {
  color: #262626;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 10px;
}
.footer .footer_container .footer_content .footer_right .footer_right__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .footer_container .footer_content .footer_right .footer_right__list .footer_right__link {
  color: var(--grey-35, #59595A);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer_container .footer_content .footer_right .footer_right__media {
  padding-right: 70px;
}
.footer .footer_container .footer_content .footer_right .footer_right__media .footer_right__group {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 14px;
  margin-top: 4px;
}
.footer .footer_container .footer_content .footer_right .footer_right__media .footer_right__group .footer_right__social {
  border-radius: 6px;
  border: 1px solid #F1F1F3;
  background: #F7F7F8;
  padding: 12px;
  width: 44px;
  height: 44px;
}
.footer .footer_container .footer_line {
  display: block;
  margin: 30px 0;
  width: 100%;
  height: 1px;
  background: #F1F1F3;
}
.footer .footer_container .footer_copy {
  color: #656567;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.main .main_content .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
}
.main .main_content .hero__title {
  max-width: 645px;
  border-radius: 8px;
  border: 1px solid var(--white-95, #F1F1F3);
  background: var(--white-99, #FCFCFD);
  color: #1A1A1A;
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  padding: 12px 24px 12px 12px;
  margin: 0 0 16px 0;
}
.main .main_content .hero__title--img {
  border-radius: 6px;
  background: var(--orange-95, #FFF4E5);
  padding: 12px;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  vertical-align: middle;
}
.main .main_content .hero__title .hero_title--orange {
  color: #FF9500;
}
.main .main_content .hero .hero__title--element {
  position: absolute;
  top: 50px;
  left: 290px;
}
.main .main_content .hero__subtitle {
  color: var(--grey-15, #262626);
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 6px;
}
.main .main_content .hero__text {
  color: #262626;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 50px;
}
.main .main_content .hero__btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.main .main_content .hero__btn_group .hero__btn_1 {
  text-align: center;
  font-size: 14px;
  background-color: #FF9500;
  color: #FFF;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 6px;
}
.main .main_content .hero__btn_group .hero__btn_2 {
  text-align: center;
  font-size: 14px;
  padding: 14px 20px;
  background-color: #FFF;
  border: 1px solid #F1F1F3;
  color: #262626;
  font-weight: 500;
  border-radius: 6px;
}
.main .main_content .companies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #F1F1F3;
  background: #FCFCFD;
  max-width: 1232px;
  margin-bottom: 80px;
}
.main .main_content .companies .companies__logo {
  padding: 20px 30px;
  border-right: 1px solid #F1F1F3;
  min-width: 175px;
  height: 68px;
}
.main .main_content .companies .companies__logo--border {
  border: none;
}
.main .main_content .video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.main .main_content .video .video__group {
  position: relative;
  border-radius: 10px;
  border: 16px solid #F7F7F8;
}
.main .main_content .video .video__group .video__image {
  border-radius: 10px;
  width: 1280px;
  height: 650px;
}
.main .main_content .video .video__group .video__image--element {
  position: absolute;
  z-index: 5;
  top: 297px;
  left: 628px;
  right: 0;
  width: 54px;
  height: 54px;
  padding: 10px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}
.main .main_content .benefits {
  margin-bottom: 100px;
}
.main .main_content .benefits__top {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.main .main_content .benefits__top .benefits__text .benefits__title {
  color: var(--grey-15, #262626);
  font-size: 38px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 4px;
}
.main .main_content .benefits__top .benefits__text .benefits__subtitle {
  width: 933px;
  color: var(--grey-35, #59595A);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.main .main_content .benefits__top .benefits__btn {
  color: var(--grey-15, #262626);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  padding: 14px 20px;
  border-radius: 6px;
  border: 1px solid var(--white-95, #F1F1F3);
  background: var(--white-99, #FCFCFD);
}
.main .main_content .benefits_card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.main .main_content .benefits_card__container .benefits_card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
  max-width: 413px;
  min-height: 370px;
  max-height: 371px;
  border-radius: 10px;
  box-sizing: border-box;
  background: var(--absolute-white, #FFF);
}
.main .main_content .benefits_card__container .benefits_card__title {
  color: var(--grey-15, #262626);
  text-align: right;
  font-size: 60px;
  font-weight: 700;
  line-height: 24px;
  height: 60px;
}
.main .main_content .benefits_card__container .benefits_card__subtitle {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.12px;
  width: 333px;
  margin-bottom: 10px;
}
.main .main_content .benefits_card__container .benefits_card__text {
  color: var(--grey-15, #4C4C4D);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 333px;
}
.main .main_content .benefits_card__container .benefits_card__btn {
  display: block;
  padding: 14px;
  border-radius: 6px;
  border: 1px solid var(--white-95, #F1F1F3);
  background: var(--white-99, #FCFCFD);
  width: 54px;
  height: 54px;
  margin-right: 0;
  margin-left: auto;
}
.main .main_content .our_courses .courses__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
}
.main .main_content .our_courses .courses__top .courses__text .courses__title {
  color: var(--grey-15, #262626);
  font-size: 38px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 4px;
}
.main .main_content .our_courses .courses__top .courses__text .courses__subtitle {
  color: var(--grey-35, #59595A);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 933px;
}
.main .main_content .our_courses .courses__top .courses__btn {
  color: var(--grey-15, #262626);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  padding: 14px 20px;
  border-radius: 6px;
  border: 1px solid var(--white-95, #F1F1F3);
  background: var(--white-99, #FCFCFD);
}
.main .main_content .our_courses .courses_card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.main .main_content .our_courses .courses_card__container .courses_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--white-95, #F1F1F3);
  background: var(--absolute-white, #FFF);
  padding: 40px;
  max-width: 630px;
  min-height: 613px;
}
.main .main_content .our_courses .courses_card__container .courses_card .courses_card__image {
  border-radius: 8px;
  width: 550px;
  height: 266px;
  overflow: hidden;
}
.main .main_content .our_courses .courses_card__container .courses_card .courses_card__image .courses_card__img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main_content .our_courses .courses_card__container .courses_card .courses_card__content .courses_card__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.main .main_content .our_courses .courses_card__container .courses_card .courses_card__content .courses_card__group .courses_card__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main .main_content .our_courses .courses_card__container .courses_card .courses_card__content .courses_card__group .courses_card__text--pad {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid var(--white-95, #F1F1F3);
  background: var(--absolute-white, #FFF);
  color: var(--grey-30, #4C4C4D);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.main .main_content .our_courses .courses_card__container .courses_card .courses_card__content .courses_card__group--name {
  color: var(--grey-15, #262626);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.main .main_content .our_courses .courses_card__container .courses_card .courses_card__content .courses_card__title {
  margin-bottom: 10px;
  color: var(--grey-15, #262626);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
.main .main_content .our_courses .courses_card__container .courses_card .courses_card__content .courses_card__subtitle {
  color: var(--grey-30, #4C4C4D);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.main .main_content .our_courses .courses_card__container .courses_card .courses_card_link {
  width: 100%;
}
.main .main_content .our_courses .courses_card__container .courses_card .courses_card_link .courses_card__button {
  width: 100%;
  padding: 14px 24px;
  border-radius: 6px;
  border: 1px solid var(--white-95, #F1F1F3);
  background: var(--white-97, #F7F7F8);
  color: var(--grey-15, #262626);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    width: 1597px;
  }
  .header p {
    font-size: 18px;
  }
  .header .header_top__banner {
    padding: 14px 0;
    max-width: 1860px;
    border-radius: 8px;
  }
  .header .header_top__banner .header_top__text {
    font-size: 18px;
  }
  .header .header_top__banner .header_top__image {
    width: 24px;
    height: 24px;
  }
  .header .header_navbar {
    margin-top: 20px;
    margin-bottom: 24px;
  }
  .header .header_navbar .header_navbar__content .header_navbar__left .header_navbar__logo {
    padding: 7px;
    width: 55px;
    height: 55px;
  }
  .header .header_navbar .header_navbar__content .header_navbar__left .header_navbar__list .header_navbar__link {
    font-size: 18px;
    padding: 14px 24px;
    border-radius: 8px;
  }
  .header .header_navbar .header_navbar__content .header_navbar__right .header_navbar__click {
    font-size: 18px;
  }
  .header .header_navbar .header_navbar__content .header_navbar__right .header_navbar__btn {
    padding: 13px 33px;
    border-radius: 8px;
    font-size: 18px;
  }
  .main .main_content .hero {
    padding-top: 100px;
  }
  .main .main_content .hero__title {
    max-width: 857px;
    border-radius: 11px;
    font-size: 48px;
    padding: 14px 30px 14px 20px;
    margin: 0 0 20px 0;
  }
  .main .main_content .hero__title--img {
    padding: 14px;
    width: 62px;
    height: 62px;
  }
  .main .main_content .hero .hero__title--element {
    position: absolute;
    top: 70px;
    left: 340px;
    width: 39px;
    height: 43px;
  }
  .main .main_content .hero__subtitle {
    font-size: 38px;
    margin-bottom: 10px;
  }
  .main .main_content .hero__text {
    font-size: 18px;
    margin-bottom: 60px;
  }
  .main .main_content .hero__btn_group .hero__btn_1 {
    font-size: 18px;
    padding: 18px 24px;
    border-radius: 8px;
  }
  .main .main_content .hero__btn_group .hero__btn_2 {
    font-size: 18px;
    padding: 18px 24px;
    border-radius: 10px;
  }
  .main .main_content .companies {
    padding: 30px;
    border-radius: 12px;
    max-width: 1596px;
    margin-bottom: 100px;
  }
  .main .main_content .companies .companies__logo {
    padding: 30px 40px;
    min-width: 220px;
    height: 92px;
  }
  .main .main_content .video .video__group {
    border-radius: 12px;
  }
  .main .main_content .video .video__group .video__image {
    border-radius: 12px;
    width: 1596px;
    height: 790px;
  }
  .main .main_content .video .video__group .video__image--element {
    top: 373px;
    left: 761px;
    width: 72px;
    height: 72px;
    padding: 14px;
    border: 6px solid rgba(255, 255, 255, 0.3);
  }
  .main .main_content .benefits__top {
    margin-bottom: 80px;
  }
  .main .main_content .benefits__top .benefits__text .benefits__title {
    font-size: 48px;
    margin-bottom: 4px;
  }
  .main .main_content .benefits__top .benefits__text .benefits__subtitle {
    width: 1177px;
    font-size: 18px;
  }
  .main .main_content .benefits__top .benefits__btn {
    font-size: 18px;
    padding: 18px 24px;
    border-radius: 8px;
  }
  .main .main_content .benefits_card__container {
    flex-wrap: wrap;
  }
  .main .main_content .benefits_card__container .benefits_card {
    padding: 60px;
    max-width: 519px;
    min-height: 437px;
    max-height: 438px;
    border-radius: 12px;
  }
  .main .main_content .benefits_card__container .benefits_card__title {
    font-size: 80px;
    height: 80px;
  }
  .main .main_content .benefits_card__container .benefits_card__subtitle {
    font-size: 24px;
    width: 419px;
    margin-bottom: 14px;
  }
  .main .main_content .benefits_card__container .benefits_card__text {
    font-size: 18px;
    width: 419px;
  }
  .main .main_content .benefits_card__container .benefits_card .benefits_card__btn {
    padding: 20px;
    border-radius: 8px;
    width: 74px;
    height: 74px;
  }
  .footer {
    background-color: #FFF;
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .footer .footer_container .footer_content .footer_left .footer_left__logo {
    padding: 7px;
    border-radius: 8px;
    width: 55px;
    height: 55px;
    margin-bottom: 40px;
  }
  .footer .footer_container .footer_content .footer_left .footer_left__group {
    gap: 20px;
  }
  .footer .footer_container .footer_content .footer_left .footer_left__group .footer_left_link {
    gap: 6px;
    font-size: 18px;
  }
  .footer .footer_container .footer_content .footer_left .footer_left__group .footer_left_link .footer_left__icon {
    width: 24px;
    height: 24px;
  }
  .footer .footer_container .footer_content .footer_right {
    gap: 30px;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__home {
    padding-right: 103px;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__about {
    padding-right: 126px;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__title {
    font-size: 20px;
    margin-bottom: 14px;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__list .footer_right__link {
    font-size: 18px;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__media {
    padding-right: 64px;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__media .footer_right__group .footer_right__social {
    border-radius: 8px;
    padding: 14px;
    width: 52px;
    height: 52px;
  }
  .footer .footer_container .footer_line {
    margin: 50px 0;
  }
  .footer .footer_container .footer_copy {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 390px;
    width: 358px;
  }
  .header {
    margin-top: 40px;
  }
  .header .header_top__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    gap: 0;
    max-width: 358px;
  }
  .header .header_navbar {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .header .header_navbar .header_navbar__content .header_navbar__left .header_navbar__logo {
    border-radius: 6px;
    padding: 5.19px;
    width: 40px;
    height: 40px;
  }
  .header .header_navbar .header_navbar__content .header_navbar__left .header_navbar__list {
    display: none;
  }
  .header .header_navbar .header_navbar__content .header_navbar__right {
    gap: 20px;
  }
  .header .header_navbar .header_navbar__content .header_navbar__right .header_navbar__click {
    margin-right: 0;
  }
  .header .header_navbar .header_navbar__content .header_navbar__right .header_navbar__btn {
    padding: 11px 19px;
  }
  .header .header_navbar .header_navbar__content .header_navbar__right .header_navbar__menu {
    display: block;
  }
  .main .main_content .hero {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main .main_content .hero__title {
    max-width: 358px;
    font-size: 16px;
    padding: 14px 14px 14px 14px;
    margin: 0 0 16px 0;
  }
  .main .main_content .hero .hero__title--element {
    position: absolute;
    top: 30px;
    left: 7px;
    width: 39px;
    height: 43px;
  }
  .main .main_content .hero__subtitle {
    font-size: 24px;
  }
  .main .main_content .hero__text {
    font-size: 14px;
    width: 297px;
  }
  .main .main_content .companies {
    padding: 10px;
    max-width: 358px;
    margin-bottom: 30px;
  }
  .main .main_content .companies .companies__logo {
    min-width: 112px;
    height: 64px;
  }
  .main .main_content .companies .companies__logo--none {
    display: none;
  }
  .main .main_content .companies .companies__logo--borde {
    border: none;
  }
  .main .main_content .video {
    margin-bottom: 50px;
  }
  .main .main_content .video .video__group {
    border: none;
  }
  .main .main_content .video .video__group .video__image {
    border-radius: 10px;
    width: 358px;
    height: 247px;
  }
  .main .main_content .video .video__group .video__image--element {
    top: 96px;
    left: 151px;
    right: 0;
  }
  .main .main_content .benefits {
    margin-bottom: 50px;
  }
  .main .main_content .benefits__top {
    margin-bottom: 40px;
    flex-direction: column;
    gap: 20px;
  }
  .main .main_content .benefits__top .benefits__text .benefits__title {
    font-size: 28px;
  }
  .main .main_content .benefits__top .benefits__text .benefits__subtitle {
    width: 358px;
    font-size: 14x;
  }
  .main .main_content .benefits__top .benefits__btn {
    font-size: 14px;
  }
  .main .main_content .benefits_card__container {
    gap: 20px;
    flex-wrap: wrap;
  }
  .main .main_content .benefits_card__container .benefits_card {
    padding: 30px;
    max-width: 358px;
    min-height: 293px;
    max-height: 294px;
  }
  .main .main_content .benefits_card__container .benefits_card--none {
    display: none;
  }
  .main .main_content .benefits_card__container .benefits_card__title {
    font-size: 50px;
    height: 50px;
  }
  .main .main_content .benefits_card__container .benefits_card__subtitle {
    font-size: 20px;
    width: 298px;
    margin-bottom: 10px;
  }
  .main .main_content .benefits_card__container .benefits_card__text {
    font-size: 14px;
    width: 298px;
  }
  .footer {
    background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 24px;
  }
  .footer .footer_container .footer_content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 24px;
  }
  .footer .footer_container .footer_content .footer_left .footer_left__group {
    gap: 12px;
  }
  .footer .footer_container .footer_content .footer_left .footer_left__group .footer_left_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 15px;
  }
  .footer .footer_container .footer_content .footer_left .footer_left__group .footer_left_link .footer_left__icon {
    width: 24px;
    height: 24px;
  }
  .footer .footer_container .footer_content .footer_right {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 24px;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__home {
    padding-right: 43px;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__about {
    padding-right: 109px;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__list {
    gap: 4px;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__list .footer_right__link {
    font-size: 14px;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__media {
    padding-right: 0;
  }
  .footer .footer_container .footer_content .footer_right .footer_right__media .footer_right__group {
    margin-top: 0px;
  }
  .footer .footer_container .footer_line {
    margin: 20px 0;
  }
}/*# sourceMappingURL=main.css.map */