// style.css sho'tta
.main{
    .main_content{
        .hero{
            @include dFlex;
            flex-direction: column;
            padding-top: 80px;
            padding-bottom: 100px;
            position: relative;
            &__title{
                max-width: 645px;
                border-radius: 8px;
                border: 1px solid var(--white-95, #F1F1F3);
                background: var(--white-99, #FCFCFD);
                color:#1A1A1A;
                font-size: 36px;
                font-weight: 600;
                line-height: 150%;
                padding: 12px 24px 12px 12px;
                margin: 0 0 16px 0;
                &--img{
                    border-radius: 6px;
                    background: var(--orange-95, #FFF4E5);
                    padding: 12px;
                    width: 48px;
                    height: 48px;
                    margin-right: 10px;
                    vertical-align: middle;
                }
                .hero_title--orange{
                    color: #FF9500;
                }
            }
            .hero__title--element{
                position: absolute;
                top: 50px;
                left: 290px;
            }
            &__subtitle{
                color: var(--grey-15, #262626);
                text-align: center;
                font-size: 28px;
                font-weight: 500;
                line-height: 150%;
                margin-bottom: 6px;
            }
            &__text{
                color: #262626;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 150%;
                margin-bottom: 50px;
            }
            &__btn_group{
                @include dFlex;
                gap: 12px;
                .hero__btn_1{
                    text-align: center;
                    font-size: 14px;
                    background-color: #FF9500;
                    color: #FFF;
                    font-weight: 600;
                    padding: 14px 20px;
                    border-radius: 6px;
                }
                .hero__btn_2{
                    text-align: center;
                    font-size: 14px;
                    padding: 14px 20px;
                    background-color: #FFF;
                    border: 1px solid #F1F1F3;
                    color: #262626;
                    font-weight: 500;
                    border-radius: 6px;
                }
            }


        }
        .companies{
            @include dFlex;
            padding: 24px;
            border-radius: 8px;
            border: 1px solid #F1F1F3;
            background: #FCFCFD;
            max-width: 1232px;
            margin-bottom: 80px;
            .companies__logo{
                padding: 20px 30px;
                border-right: 1px solid #F1F1F3;
                min-width: 175px;
                height: 68px;
                &--border{
                    border: none;
                }
            }
        }
        .video{
            @include dFlex;
            margin-bottom: 100px;
            .video__group{
                position: relative;
                border-radius: 10px;
                border: 16px solid #F7F7F8;
                .video__image{
                    border-radius: 10px;
                    width: 1280px;
                    height: 650px;
                    &--element{
                        position: absolute;
                        z-index: 5;
                        top: 297px;
                        left: 628px;
                        right: 0;
                        width: 54px;
                        height: 54px;
                        padding: 10px;
                        border-radius: 50%;
                        border: 4px solid rgba(255, 255, 255, 0.30);
                        background: rgba(255, 255, 255, 0.20);
                    }
                }
            }
        }
        .benefits{
            margin-bottom: 100px;
            &__top{
                margin-bottom: 60px;
                @include dFlex(space-between, end);
                .benefits__text{
                    .benefits__title{
                        color: var(--grey-15, #262626);
                        font-size: 38px;
                        font-weight: 600;
                        line-height: 150%;
                        margin-bottom: 4px;
                    }
                    .benefits__subtitle{
                        width: 933px;
                        color: var(--grey-35, #59595A);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }
                .benefits__btn{
                    color: var(--grey-15, #262626);
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 150%;
                    padding: 14px 20px;
                    border-radius: 6px;
                    border: 1px solid var(--white-95, #F1F1F3);
                    background: var(--white-99, #FCFCFD);
                }

            }
            &_card__container{
                @include dFlex;
                gap: 20px;
                flex-wrap: wrap;
                .benefits_card{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    padding: 40px;
                    max-width: 413px;
                    min-height: 370px;
                    max-height: 371px;
                    border-radius: 10px;
                    box-sizing: border-box;
                    background: var(--absolute-white, #FFF);
                    &__title{
                        color: var(--grey-15, #262626);
                        text-align: right;
                        font-size: 60px;
                        font-weight: 700;
                        line-height: 24px;
                        height: 60px;
                    }
                    &__subtitle{
                        color: #333;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 150%;
                        letter-spacing: -0.12px;
                        width: 333px;
                        margin-bottom: 10px;
                    }
                    &__text{
                        color: var(--grey-15, #4C4C4D);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 150%;
                        width: 333px;
                    }
                    &__btn{
                        display:block;
                        padding: 14px;
                        border-radius: 6px;
                        border: 1px solid var(--white-95, #F1F1F3);
                        background: var(--white-99, #FCFCFD);
                        width: 54px;
                        height: 54px;
                        margin-right: 0;
                        margin-left: auto;
                    }
                }
            }
        }
        .our_courses{
            .courses__top{
                @include dFlex( space-between, end);
                margin-bottom: 60px;
                .courses__text{
                    .courses__title{
                        color: var(--grey-15, #262626);
                        font-size: 38px;
                        font-weight: 600;
                        line-height: 150%;
                        margin-bottom: 4px;
                    }
                    .courses__subtitle{
                        color: var(--grey-35, #59595A);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 150%;
                        width: 933px;
                    }
                }
                .courses__btn{
                    color: var(--grey-15, #262626);
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 150%;
                    padding: 14px 20px;
                    border-radius: 6px;
                    border: 1px solid var(--white-95, #F1F1F3);
                    background: var(--white-99, #FCFCFD);
                }
            }
            .courses_card__container{
                @include dFlex;
                flex-wrap: wrap;
                gap: 20px;
                .courses_card{
                    @include dFlex( space-between, center);
                    flex-direction: column;
                    border-radius: 10px;
                    border: 1px solid var(--white-95, #F1F1F3);
                    background: var(--absolute-white, #FFF);
                    padding: 40px;
                    max-width: 630px;
                    min-height: 613px;
                    .courses_card__image{
                        border-radius: 8px;
                        width: 550px;
                        height: 266px;
                        overflow: hidden;
                        .courses_card__img{
                            max-width: 100%;
                            width: 100%;
                            max-height: 100%;
                            object-fit: cover;
                        }
                    }
                    .courses_card__content{
                        .courses_card__group{
                            @include dFlex( space-between, center);
                            margin-bottom: 24px;
                            .courses_card__text{
                                @include dFlex;
                                gap: 10px;
                                &--pad{
                                    padding: 8px 14px;
                                    border-radius: 6px;
                                    border: 1px solid var(--white-95, #F1F1F3);
                                    background: var(--absolute-white, #FFF);
                                    color: var(--grey-30, #4C4C4D);
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: normal;
                                }
                            }
                            &--name{
                                color: var(--grey-15, #262626);
                                font-size: 16px;
                                font-weight: 500;
                                line-height: normal;
                            }
                        }
                        .courses_card__title{
                            margin-bottom: 10px;
                            color: var(--grey-15, #262626);
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 150%; 
                        }
                        .courses_card__subtitle{
                            color: var(--grey-30, #4C4C4D);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 150%;
                        }
                    }
                    .courses_card_link{
                        width: 100%;
                        .courses_card__button{
                            width: 100%;
                            padding: 14px 24px;
                            border-radius: 6px;
                            border: 1px solid var(--white-95, #F1F1F3);
                            background: var(--white-97, #F7F7F8);
                            color: var(--grey-15, #262626);
                            text-align: center;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 150%;
                        }
                    }
                }
            }
        }
    }
}